# specific files to be ignored while uploading this project
# __author__ = "Chukwudi Nwachukwu - iChux"

logsdir/
__pycache__/
data/
*.py[cod]
*$py.class
.DS_Store
.idea

supervisord.pid
supervisord.log

.env
.coverage
docs/