wheel
pip
setuptools
black
codespell
isort
ipython
mypy
pytest
pytest--cov
flake8
pylint
sphinx
twine
pre-commit
uwsgi
uncurl
Flask-Testing
seleniumbase

# install all found in the file below
-r requirements.txt
