alembic==1.7.7
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
coverage==6.3.2
cryptography==37.0.1
Flask==2.1.2
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.8.1
Flask-WTF==1.0.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.2
MarkupSafe==2.1.1
passlib==1.7.4
pdfminer.six==20220319
psycopg2-binary==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-editor==1.0.4
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
SQLAlchemy==1.4.36
ua-parser==0.10.0
uwsgitop==0.11
WebTest==3.0.0
Werkzeug==2.1.2
Whoosh==2.7.4
WTForms==3.0.1
