@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    @apply p-0 m-0 outline-none;
  }

  #app {
    @apply min-h-screen px-2 sm:px-3 md:px-3.5 lg:px-4;
  }

  button {
    @apply px-3 py-2 text-sm font-medium text-white bg-slate-900;
  }

  input {
  }

  pre, code {
    @apply inline-block max-w-full overflow-auto;
  }

  #record_details {
    box-shadow: 0 1px 3px #0000001a,0 1px 2px #00000042;
  }
}

@layer components {
  .search-input {
    transition: 0.2s ease-in-out all;
    @apply flex min-w-[320px] grow p-0.5 border border-gray-400 hover:border-slate-600 hover:sm:min-w-[320px] focus-within:border-slate-600 focus-within:sm:min-w-[320px] max-w-[70%];
  }

  .search-input button {
    @apply px-2 py-1.5 text-sm font-medium text-white bg-slate-900 text-[0.9rem];
  }

  .search-input input {
    @apply pl-1 text-sm focus:outline-none focus:border-none grow;
  }
}
